body {
  background: url("img/foto6.jpg") no-repeat center center fixed;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  color: white;
  text-align: center;
  padding: 1rem 0;
}

h2 {
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #1f19d0;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}

a:hover {
  background-color: #0056b3;
}
